.toolbar-title {
    color: #1565b0;
}

.icon {
    color: #1565b0;
}

.icone {
    width: 15%;
}

.nomeIcon {
    color: #1565b0;
    margin-left: -65%;
    margin-top: 3%;
}

.background {
    background: #ffffff;
}

.listaMenu {
    background: #CFDFEC;
}

.item {
    color: #1565b0;
}

.logoApp {
    width: 65%;
    margin-left: 19%;
    margin-top: 5%;
    margin-bottom: 5%;
}